.header {
  padding: 24px 50px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;

  .logo {
      padding-left: 26px;
  }

  .menu {
    padding-top: 44px;
    &__button {
      background-color: transparent;
      border: none;
      cursor: pointer;
    }
  }
}