.header {
  padding: 24px 50px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;

  &.opened {
    height: 100vh;
    background-color: #212121;
    z-index: 999;

    .logo {
      margin-left: auto;
    }
  }

  .logo {
    padding-left: 26px;
  }

  .menu {
    padding-top: 44px;
    margin-left: auto;

    &__button {
      background-color: transparent;
      border: none;
      cursor: pointer;
    }
  }

  .menuList {
    width: 100%;


    ul {
      text-align: center;
      list-style: none;
      padding: 0;
      margin: 0;
    }

    li:not(:last-child) {
      margin-bottom: 116px;
    }

    a {
      font-family: Montserrat;
      font-style: normal;
      font-weight: normal;
      font-size: 36px;
      line-height: 172.4%;

      letter-spacing: 0.275em;
      text-transform: uppercase;

      color: #FFFFFF;
    }
  }

}

